* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    border-bottom: 5px solid #000;
}

button {
    margin-left: 20px;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
}

footer {
    margin-top: 6vh;
    display: flex;
    justify-content: center;
    border-top: 5px solid #000;
}

.container {
    border: 5px solid #000;
    width: fit-content;
    padding: 20px;
    margin-top: 20vh;
    font-size: 100px;
}

#hora {
    border-bottom: 2px solid #000;
    margin-bottom: 10px;
}


li {
    list-style: none;
}

.links {
    display: flex;
    margin-top: 9vh;
}